@model AHM.Logistic.Smart.Common.Models.CustomerCallsModel

<div class="card-body">
    <form class="form-row" method="post" id="frmCreateCustomerCalls" asp-controller="CustomersCalls" asp-action="Create">
        <input type="hidden" id="cus_Id" asp-for="cus_Id" />
        <input type="hidden" id="cca_Id" asp-for="cca_Id" />
        <input type="hidden" id="cun_IdUserCreate" asp-for="cca_IdUserCreate" />
        <div class="form-group col-md-6">
            <div id="CallType">
                <label class="form-label">Tipo de llamada</label>
                <select name="cca_CallType" asp-for="cca_CallType" id="VCallType" class="form-control">
                    <option value="0" selected>Por favor seleccione una opción...</option>
                    @foreach (var callT in Model.callType)
                    {
                        <option value="@callT.cati_Id">@callT.cati_Description</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div id="CallResult">
                <label class="form-label">Resultado</label>
                <select name="cca_Result" asp-for="cca_Result" id="VCallResult" class="form-control">
                    <option value="0" selected>Por favor seleccione una opción...</option>
                    @foreach (var callR in Model.callResult)
                    {
                        <option value="@callR.caru_Id">@callR.caru_Description</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-6" maxlength="14">
            <label class="form-label">Hora de inicio</label>
            <input type="time" id="cca_StartTime" asp-for="cca_StartTime" value="" class="form-control" />
        </div>
        <div class="form-group col-md-6" maxlength="14">
            <label class="form-label">Hora de fin</label>
            <input type="time" id="cca_EndTime" asp-for="cca_EndTime" value="" class="form-control" />
        </div>
        <div class="form-group col-md-6" maxlength="14">
            <label class="form-label">Fecha:</label>
            <input type="date" id="cca_Date" asp-for="cca_Date" value="" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <div id="CallBusiness">
                <label class="form-label">Tipo de negocio</label>
                <select name="cca_Business" asp-for="cca_Business" id="VCallBusiness" class="form-control">
                    <option value="0" selected>Por favor seleccione una opción...</option>
                    @foreach (var callB in Model.callBusiness)
                    {
                        <option value="@callB.cabu_Id">@callB.cabu_Description</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary" onclick="ValidateFrmCreateCustomerCalls()">Aceptar</button>
        </div>
    </form>
</div>