@model AHM.Logistic.Smart.Common.Models.CustomerFilesModel

<div class="card-body">
    <link href="~/css/styleFile.css" rel="stylesheet" />
    <form method="post" id="frmCreateCustomerFile" asp-controller="CustomersFile" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" id="cus_Id" asp-for="cus_Id" />
        <input type="hidden" id="cfi_IdUserCreate" asp-for="cfi_IdUserCreate" value="1" />
        <div class="form-group col-md-12 cont">
            <div class="item">
                <div id="div_file" class="btn btn-primary">
                    <span class="btn-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707L6.354 9.854z" />
                        </svg>
                    </span><label class="form-text" style="font-weight: bold;">Subir archivo...</label>
                    <input id="btn_addFile" type="file" name="formFile" asp-for="formFile" />
                </div>
            </div>
            <div class="item alerts">
                <div class="text-danger" style="text-align: center;" id="danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z" />
                    </svg>
                    <label class="form-text" style="font-weight: bold;">No ha seleccionado ningún archivo</label>
                </div>
                <div class="text-success" style="text-align: center;" id="success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-check-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <label class="form-text" style="font-weight: bold;" id="labelNameFile"></label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr class="ligth">
                        <th>Archivo</th>
                        <th>Fecha agregado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.listFile)
                    {
                        @if (file.cus_Id == Model.cus_Id)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => file.cfi_fileRoute)</td>
                                <td>@Html.DisplayFor(modelItem => file.cfi_DateCreate)</td>
                                <td>

                                    @{string fileroutes = file.cus_Id.ToString() + "-" + file.cfi_fileRoute;}
                                    <input type="hidden" name="@file.cfi_Id" value="@fileroutes" />
                                    <a download="@file.cfi_fileRoute" class="btn btn-secondary" target="_blank" href="@file.Nombre"> <span class='btn-inner'><svg xmlns='http://www.w3.org/2000/svg' style="color: white;" width='18' height='18' fill='currentColor' class='bi bi-file-earmark-arrow-down-fill' viewBox='0 0 16 16'><path d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z' /></svg></span> </a>
                                    <button type='button' data-toggle='tooltip' data-placement='top' title='' data-original-title='Delete' class='btn btn-primary' style='color: white;' onclick='DeleteCustomersFile(@file.cfi_Id)'>
                                        <span class='btn-inner'><svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='currentColor' class='bi bi-file-earmark-x-fill' viewBox='0 0 16 16'><path d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z' /></svg></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <button type="submit" id="btn_add" class="btn btn-secondary" style="margin: 0px 30px 0px 0px;">Adjuntar</button>
    </form>
</div>