@using AHM_LOGISTIC_SMART_ADM.Services.Utilities
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor contextAccesor;
@{

    string userpermission = contextAccesor.HttpContext.Session.GetString("userpermissions");
    string ImageProfile = contextAccesor.HttpContext.Session.GetString("usu_ImagenPerfil");
    int? usu_Id = contextAccesor.HttpContext.Session.GetInt32("usu_Id");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewData["Title"] - Logistic Smart</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css"  rel="stylesheet" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- iziToast -->
    <link href="~/js/plugins/iziToast-master/dist/css/iziToast.css" rel="stylesheet" />
    <link href="/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <style>
        .wrapper {
            padding: 20px;
            margin: 15px 0;
        }

        textarea {
            font-size: 20px;
            width: 100%;
        }

        .is-required:after {
            content: '*';
            margin-left: 3px;
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    @{
        var vNotification = Convert.ToString(TempData["Message"]);
        int? TempSuccess = Convert.ToInt32(TempData["Success"]);
        int? TempType = Convert.ToInt32(TempData["Type"]);

    }
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="~/Dashboard/Index" class="logo">
                    <span>
                        <img src="~/images/SmartLogisticLogo.png" alt="" height="38">
                    </span>
                    <i>
                        <img src="~/images/logoSmart-sm.png" alt="" height="28">
                    </i>
                </a>
            </div>

            <nav class="navbar-custom">

                <ul class="navbar-right d-flex list-inline float-right mb-0">
                    <li class="dropdown notification-list">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="/User/ShowImage/?routeImage=@ImageProfile" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <a asp-route-id="@usu_Id" asp-controller="User" asp-action="GetUsuarioUnique" class="dropdown-item"><i class="mdi mdi-account-circle m-r-5"></i> Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" onclick="logoutConfirm()" style="cursor: pointer"><i class="mdi mdi-power text-danger"></i> Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    <li class="d-none d-sm-block">
                        <div class="dropdown pt-3 d-inline-block">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Acción</a>
                                <a class="dropdown-item" href="#">Otra acción</a>
                                <a class="dropdown-item" href="#">Alguna otra cosa aquí</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Link por separado</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li id="li-apartClte">
                            @if (userpermission.Contains(HelpersUtils.Listado_Contacto) || userpermission.Contains(HelpersUtils.Listado_Cliente))
                            {
                                <a href="javascript:void(0);" id="apartClte" class="waves-effect"><i class="mdi mdi-account-multiple"></i><span> Cliente <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            }
                            <ul class="submenu" id="ul-Clte">
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Contacto)">
                                    <li id="li-contacts"><a id="contacts" onclick="Menu('contacts')" href="~/Contacts/Index"> Contactos </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Cliente)">
                                    <li id="li-customers"><a href="~/Customers/Index" id="customers" onclick="Menu('customers')"> Clientes </a></li>
                                </if>
                            </ul>
                        </li>

                        <li id="li-apartVent">
                            @if (userpermission.Contains(HelpersUtils.Listado_Cotizaciones) || userpermission.Contains(HelpersUtils.Listado_Ordenes) || userpermission.Contains(HelpersUtils.Listado_Productos) || userpermission.Contains(HelpersUtils.Listado_Categorias) || userpermission.Contains(HelpersUtils.Listado_SubCategorias) || userpermission.Contains(HelpersUtils.Listado_Campañas))
                            {
                                <a href="javascript:void(0);" id="apartVent" class="waves-effect"><i class="mdi mdi-percent"></i> <span> Ventas <span class="float-right menu-arrow"><i class="mdi mdi-plus" id="iconVent"></i></span> </span> </a>
                            }
                            <ul class="submenu" id="ul-Vent">
                                <if include-if="userpermission.Contains(HelpersUtils.Inicio)">
                                    <li id="li-dashboard"><a href="~/Dashboard/DashboardList" id="dashboard" onclick="Menu('dashboard')"> Dashboard </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Cotizaciones)">
                                    <li id="li-quote"><a href="~/Quote/Index" id="quote" onclick="Menu('quote')"> Cotizaciones </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Ordenes)">
                                    <li id="li-ordenes"><a href="~/Orders/Index" id="ordenes" onclick="Menu('ordenes')"> Órdenes </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Productos)">
                                    <li id="li-products"><a href="~/Products/Index" id="products" onclick="Menu('products')"> Productos </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Categorias)">
                                    <li id="li-categorias"><a href="~/Categories/Index" id="categories" onclick="Menu('categorias')"> Categorías </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_SubCategorias)">
                                    <li id="li-subCategories"><a href="~/SubCategories/Index" id="subcategories" onclick="Menu('subCategories')"> Subcategorías </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Campañas)">
                                    <li id="li-campaign"><a href="~/Campaign/Index" id="campaign" onclick="Menu('campaign')"> Campañas </a></li>
                                </if>
                            </ul>
                        </li>
                        <li id="li-apartCatalog">
                            @if (userpermission.Contains(HelpersUtils.Listado_Personas) || userpermission.Contains(HelpersUtils.Listado_Empleados) || userpermission.Contains(HelpersUtils.Listado_Puestos) || userpermission.Contains(HelpersUtils.Listado_Areas) || userpermission.Contains(HelpersUtils.Listado_Paises) || userpermission.Contains(HelpersUtils.Listado_Municipios) || userpermission.Contains(HelpersUtils.Listado_Departamento))
                            {
                                <a href="javascript:void(0);" id="apartCatalog" class="waves-effect"><i class="mdi mdi-table"></i> <span> Catálogos <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span> </a>
                            }
                            <ul class="submenu" id="ul-Catalog">
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Personas)">
                                    <li id="li-persons"><a href="~/Persons/Index" id="persons" onclick="Menu('persons')"> Personas </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Empleados)">
                                    <li id="li-employers"><a href="~/Employers/Index" id="employers" onclick="Menu('employers')"> Empleados </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Puestos)">
                                    <li id="li-occupation"><a href="~/Occupation/Index" id="occupation" onclick="Menu('occupation')"> Puestos </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Areas)">
                                    <li id="li-areas"><a href="~/Areas/Index" id="areas" onclick="Menu('areas')"> Áreas </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Paises)">
                                    <li id="li-countries"><a href="~/Countries/Index" id="countries" onclick="Menu('countries')"> Países </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Departamento)">
                                    <li id="li-depart"><a href="~/Depart/Index" id="depart" onclick="Menu('depart')"> Departamentos </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Municipios)">
                                    <li id="li-muni"><a href="~/Muni/Index" id="muni" onclick="Menu('muni')"> Municipios </a></li>
                                </if>
                            </ul>
                        </li>
                        <li id="li-apartAcce">
                            @if (userpermission.Contains(HelpersUtils.Listado_Usuarios) || userpermission.Contains(HelpersUtils.Listado_Roles))
                            {
                                <a href="javascript:void(0);" id="apartAcce" class="waves-effect"><i class="mdi mdi-account-box"></i><span> Accesos <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            }
                            <ul class="submenu" id="ul-Acce">
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Usuarios)">
                                    <li id="li-users"><a href="~/User/Index" id="users" onclick="Menu('users')"> Usuarios </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Listado_Roles)">
                                    <li id="li-roles"><a href="~/Rol/Index" id="roles" onclick="Menu('roles')">Roles</a></li>
                                </if>
                            </ul>
                        </li>
                        <li>
                            @if (userpermission.Contains(HelpersUtils.Reportes_Cotizaciones) || userpermission.Contains(HelpersUtils.Reportes_Ordenes) || userpermission.Contains(HelpersUtils.Reportes_Campañas) || userpermission.Contains(HelpersUtils.Reportes_Clientes))
                            {
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-box"></i><span> Reportes <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            }
                            <ul class="submenu">
                                <if include-if="userpermission.Contains(HelpersUtils.Reportes_Cotizaciones)">
                                    <li><a href="~/ReportsCampaign/QuoteReports"> Cotizaciones </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Reportes_Ordenes)">
                                    <li><a href="~/ReportsCampaign/Index"> Órdenes Venta </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Reportes_Campañas)">
                                    <li><a href="~/ReportsCampaign/CampaignReports"> Campañas </a></li>
                                </if>
                                <if include-if="userpermission.Contains(HelpersUtils.Reportes_Clientes)">
                                    <li><a href="~/ReportsCampaign/CustomersReports"> Clientes </a></li>
                                </if>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <h4 class="page-title">@ViewBag.Table</h4>
                                <ol class="breadcrumb">
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="page-content-wrapper">
                        @RenderBody()
                    </div>
                    <!-- end page content-->
                </div> <!-- container-fluid -->
            </div> <!-- content -->

            <footer class="footer">
                © 2022 AHM <span class="d-none d-sm-inline-block">- 5ta Generación</span>
            </footer>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <!-- END wrapper -->
    <!-- Rich Editor Text Summernote -->
    <!-- Library Bundle Script -->
    <script src="~/js/core/libs.min.js"></script>

    <script src="/plugins/select2/dist/js/select2.min.js"></script>
    <!-- External Library Bundle Script -->
    <script src="~/js/core/external.min.js"></script>

    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/bootstrap-md-datetimepicker/js/moment-with-locales.min.js"></script>
    <script src="~/plugins/bootstrap-md-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Required datatable js -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/js/app.js"></script>

    <!-- Utils  -->
    <script src="~/js/app/utils.js"></script>
    <script>
        SetUserId(@usu_Id);
    </script>
    <script src="~/js/general-functions/general-functions.js"></script>
    <script src="~/js/general-functions/notifications.js"></script>


    <!-- validateInputs-ui  -->
    <script src="~/js/plugins/validate-inputs-ui.js"></script>
    <script src="~/js/validations/formValidations.js"></script>

    <!-- InputMasK -->
    <script src="~/js/plugins/jquery.inputmask.js"></script>

    <!-- SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetAlert.js"></script>

    <!-- Menu -->
    <script src="~/js/menu/menu.js"></script>
    <script src="~/js/validations/formValidations.js"></script>

    <script src="~/js/general-functions/notifications.js"></script>
    <script src="~/js/plugins/iziToast-master/dist/js/iziToast.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            var mensajeError = '@vNotification';
            let TempSuccess = @TempSuccess;
            let TempType = @TempType;
            if (TempSuccess == 1 && TempType == DataType.Success) {
                iziToast.success({
                    message: mensajeError,
                    displayMode: 'replace'
                });
            }
            else if (mensajeError != "") {
                iziToast.warning({
                    message: mensajeError,
                    displayMode: 'replace'
                });
            }
        });
    </script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>