@model IEnumerable<AHM.Logistic.Smart.Common.Models.SubCategoriesViewModel>
@{
    ViewData["Title"] = "Subcategorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Table = "Subcategorías";
}

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title font-16 mt-0">Listado de Subcategorías</h4>
                        </div>
                        <div class="col-md-4">
                            <div style="box-sizing:border-box; padding:0px 10px" class="row justify-content-end">
                                <button id="AbrirModalSubCategories" class="btn btn-primary">Nuevo registro</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr class="ligth">
                                    <th>Id</th>
                                    <th>Descripción</th>
                                    <th>Categorías</th>
                                    <th style="min-width: 100px">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.scat_Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.scat_Description)</td>
                                        <td>@Html.DisplayFor(modelItem => item.cat_Description)</td>
                                        <td style="text-align:center; color: #FFF">
                                            <div class="flex align-items-center list-user-action">
                                                <a class="btn btn-sm btn-icon btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" onclick="ShowModalfrmEditSubCategories(@item.scat_Id)">
                                                    <span class="btn-inner">
                                                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                                </a>
                                                <a class="btn btn-sm btn-icon btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" onclick="DeleteSubCategories(@item.scat_Id)">
                                                    <span class="btn-inner">
                                                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                            <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--create persons modal-->
<div class="modal fade" id="frmCreateSubCategories" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Editar">Registrar Subcategoría</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col form-group">
                            <label class="form-label is-required">Descripción</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" id="scat_Description" class="form-control" maxlength="100" minlength="1" autocomplete="off" />
                        </div>


                        <div class="col-md-12 form-group">
                            <div id="DivCat">
                                <label class="form-label is-required">Categoría</label>
                                <select class="form-control" id="DropDownCatCreate" required></select>
                            </div>
                        </div>


                        @*<div class="col-md-12 form-group">
            <label class="form-label is-required">Categoría</label>
            <div id="DivCat">
                <select class="form-control is-required" id="DropDownCatCreate" required></select>
            </div>
        </div>*@

                        @*<div class="col-md-12 form-group">
            <div id="messageCre">
                <label class="form-label is-required" for="DropDownCatCreate">Selecciona una categoría</label>
                <select class="form-control" id="DropDownCatCreate"></select>
            </div>
        </div>*@

                        @*<div class="col-md-12 form-group">
            <label class="form-label is-required" for="SelectCategoriaCreate">Selecciona una categoría</label>
        </div>
        <div class="col-md-12 form-group">
            <select class="form-control" id="SelectCategoriaCreate">
            </select>
        </div>*@



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="CrearSubCategoriaConfirmar">Aceptar</button>
                <button type="button" class="btn btn-primary" id="closeModalCreate" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<!--edit persons modal-->
<div class="modal fade" id="frmEditSubCategories" tabindex="-1" aria-labelledby="EditarEmpleado" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Editar">Editar subcategoría</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <input type="hidden" id="cat_id" class="form-control" />

                        <div class="col form-group is-required">
                            <label class="form-label">Descripción</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" id="scat_Description" class="form-control" maxlength="100" minlength="1" autocomplete="off" />

                        </div>

                        <div class="col-md-12 form-group">
                            <div id="DivCatEd">
                                <label class="form-label is-required">Categoría</label>
                                <select class="form-control" id="DropDownCatEdit" required></select>
                            </div>
                        </div>


                        @*<div class="col-md-12 form-group">
            <div id="DivCatEdit">
                <label class="form-label is-required" for="DropDownCatEdit">Categoría</label>
                <select class="form-control" id="DropDownCatEdit" required></select>
            </div>
        </div>*@


                        @*<div class="col-md-12 form-group is-required">
            <label class="form-label" for="SelectCategoriaEdit">Selecciona una categoría</label>
        </div>

        <div class="col-md-12 form-group">
            <select class="form-control" id="SelectCategoriaEdit">
            </select>
        </div>*@

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="EditarSubCategoriaConfirmar">Aceptar</button>
                <button type="button" class="btn btn-primary" id="closeModalEdit" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/app/SubCategoria/SubCateEdit.js"></script>
    <script src="~/js/app/SubCategoria/SubCate.js"></script>
    <script src="~/js/app/SubCategoria/SubCateCreate.js"></script>
    <script src="~/js/app/SubCategoria/SubCateDelete.js"></script>

    <script>
        function docReady(fn) {
            if (document.readyState === "complete" || document.readyState === "interactive") {
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }
        docReady(function () {
            Menu('subCategories');

        });
    </script>
}